/* assets/css/style.css */

/* Base Dark Mode Styles */
body.dark-mode {
    background-color: #333;
    font-family: 'Courier New', Courier, monospace;
    color: #ddd;
    margin: 3rem;
    font-size: 1.333rem;
}

body.dark-mode a {
    color: #5599ff;
}

body.dark-mode .content {
    background-color: #222;
    padding: 5rem;
}

li { background: #333; }
li:nth-child(odd) { background: #222; }

/* Code Block Styling with Wrap */
body.dark-mode pre{
    background-color: #000;
    border-radius: 5px;
    padding: 1rem;
    overflow-x: auto; /* Enables horizontal scrolling for long lines */
    white-space: pre-wrap; /* Ensures wrapping of long lines */
    word-wrap: break-word;
    color: #f8f8f2;
}

/* Code Block Styling */
body.dark-mode code {
    overflow-x: auto; /* Enables horizontal scrolling for long lines */
    white-space: pre-wrap; /* Ensures wrapping of long lines */
    word-wrap: break-word;
    line-height: 2;
}

/* Copy Button Styling */
.copy-btn {
    position: relative;
    float: right;
    top: 10px;
    right: 10px;
    background-color: #5599ff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 0.8em;
}

/* Hover Effect for Copy Button */
.copy-btn:hover {
    background-color: #4a8eda;
}
