<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}">
  {% include head.html %}
  <body>
    <!-- Encabezado dinámico -->
    <div class="markdown-body">
      <a href="{{ '/' | relative_url }}">
        <h1 class="pageHeader">{{ page.title | default: site.title }}</h1>
      </a>

      <!-- CONTENIDO DE CADA PÁGINA -->
      {{ content }}
    </div>

    <!-- Scripts adicionales (si los necesita el tema) -->
    <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
  </body>
</html>
