<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}">

  {% include homeHead.html %}
  <body>
    <div class="markdown-body">
      <a href="{{ '/' | relative_url }}" style="text-decoration: none">
        <h1 class="pageHeader animate__animated animate__fadeInDown">
          {{ page.title | default: site.title }}
        </h1>
      </a>

      <section
        class="hero animate__animated animate__fadeInDown animate__delay-1s"
      >
        <h2 class="animate__animated animate__fadeInUp animate__delay-1s">
          Everything is Programmable.
        </h2>

        <p class="animate__animated animate__fadeInUp animate__delay-2s">
          Computing • Automation • Programming • Experiments
        </p>
      </section>

      {{ content }}

      <section
        class="terminal animate__animated animate__fadeInDown animate__delay-1s"
      >
        <div class="terminal-header">~/Programs</div>

        <pre><code>$ whoami
Kib
$ motto
Automate Everything.
$ ls
Computers/
OS/
Hardware/
Software/
Magic/
Scripts/
Prompts/
Experiments/
$ █</code></pre>
      </section>
    </div>

    <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
    <script>
      document.documentElement.classList.add("loaded");
    </script>
  </body>
</html>
